<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<!-- Meta Tag -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>Tienda Carlos Picado Esteban</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png" th:href="@{/index/assets/images/favicon.png}">
	<!-- Web Font -->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
		rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" th:href="@{/index/assets/css/bootstrap.css}">
	<!-- Bootstrap icons -->
	<link rel="stylesheet" th:href="@{/index/assets/css/bootstrap-icons.css}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" th:href="@{/index/assets/css/magnific-popup.min.css}">
	<!-- Font Awesome -->
	<link rel="stylesheet" th:href="@{/index/assets/css/font-awesome.css}">
	<!-- Fancybox -->
	<link rel="stylesheet" th:href="@{/index/assets/css/jquery.fancybox.min.css}">
	<!-- Themify Icons -->
	<link rel="stylesheet" th:href="@{/index/assets/css/themify-icons.css}">
	<!-- Jquery Ui -->
    <link rel="stylesheet" th:href="@{/index/assets/css/jquery-ui.css}">
	<!-- Nice Select CSS -->
	<link rel="stylesheet" th:href="@{/index/assets/css/niceselect.css}">
	<!-- Animate CSS -->
	<link rel="stylesheet" th:href="@{/index/assets/css/animate.css}">
	<!-- Flex Slider CSS -->
	<link rel="stylesheet" th:href="@{/index/assets/css/flex-slider.min.css}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" th:href="@{/index/assets/css/owl-carousel.css}">
	<!-- Slicknav -->
	<link rel="stylesheet" th:href="@{/index/assets/css/slicknav.min.css}">
	<!-- Toastr -->
	<link rel="stylesheet" th:href="@{/index/assets/css/toastr.css}">
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" th:href="@{/index/assets/css/reset.css}">
	<link rel="stylesheet" th:href="@{/index/assets/style.css}">
	<link rel="stylesheet" th:href="@{/index/assets/css/responsive.css}">
	
	<link rel="stylesheet" th:href="@{/index/assets/css/producto.css}">

</head>
</html>