<div class="sidebar" data-color="white" data-active-color="danger"
	th:fragment="sidebar">
	<div class="logo">
		<a href="https://www.creative-tim.com" class="simple-text logo-mini">
			<div class="logo-image-small">
				<img th:src="@{/dashboard/assets/img/logo-small.png}">
			</div> <!-- <p>CT</p> -->
		</a> <a href="https://www.creative-tim.com"
			class="simple-text logo-normal"> Creative Tim <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="active "><a th:href="@{/dashboard}"> <i
					class="nc-icon nc-bank"></i>
					<p>Inicio</p>
			</a></li>
			<li><a th:href="@{/dashboard/usuarios}"> <i
					class="nc-icon nc-single-02"></i>
					<p>Usuarios</p>
			</a></li>
			<li><a th:href="@{/dashboard/productos}"> <i
					class="nc-icon nc-paper"></i>
					<p>Productos</p>
			</a></li>
			<li><a th:href="@{/pedidos}"> <i
					class="bi bi-boxes"></i>
					<p>Pedidos</p>
			</a></li>
			<li><a th:href="@{/dashboard/cancelaciones_pedidos}"> <i
					class="bi bi-box-arrow-down-left"></i>
					<p>Cancelaciones</p>
			</a></li>
		</ul>
	</div>
</div>