<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="index/components/head.html :: head"></head>
<body>

	<header th:replace="index/components/header.html :: header"></header>

	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
			<div class="contact-head">
				<div class="row justify-content-md-center">
					<div class="col-lg-8 col-12">
						<div class="form-main">

							<div class="title">
								<h3>Formulario de alta de usuario</h3>
							</div>

							<span class="alert alert-warning d-block mb-4"
								th:if="${error != null}" th:text="${error}"></span>

							<form class="form" method="POST" th:action="@{/registro}"
								th:object="${usuario}">
								<div class="row">
									<div class="col-lg-6 col-12 ">
									<div class="form-group">
										<label>Nombre<span>*</span></label> 
										<input name="nombre" class="form-control mb-2"
											   type="text" placeholder=""
											   th:field="*{nombre}"> 
										<span
										   		th:if="${#fields.hasErrors('nombre')}"
										  		class="text-warning mt-2" 
										   		th:errors="*{nombre}">
										</span>
										<div id="bad-data-nombre" class="bad-data"></div>
									</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Primer apellido<span>*</span></label> 
											<input
												class="form-control mb-2" name="primer_apellido" type="text"
												placeholder="" th:field="*{apellido1}"> 
											<span
												th:if="${#fields.hasErrors('apellido1')}"
												class="text-warning mt-2" th:errors="*{apellido1}">
											</span>
											<div id="bad-data-apellido1" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Segundo apellido<span>*</span></label> <input
												name="segundo_apellido" class="form-control mb-2"
												type="text" th:field="*{apellido2}"> <span
												th:if="${#fields.hasErrors('apellido2')}"
												class="text-warning mt-2" th:errors="*{apellido2}"></span>
												<div id="bad-data-apellido2" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>DNI<span>*</span></label> <input name="dni"
												class="form-control mb-2" type="text" th:field="*{dni}">
											<span th:if="${#fields.hasErrors('dni')}"
												class="text-warning mt-2" th:errors="*{dni}"></span>
												<div id="bad-data-dni" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Dirección<span>*</span></label> <input class="mb-2"
												name="direccion" type="text" th:field="*{direccion}">
											<span th:if="${#fields.hasErrors('direccion')}"
												class="text-warning mt-2" th:errors="*{direccion}"></span>
												<div id="bad-data-direccion" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Provincia<span>*</span></label> <select
												style="display: block; border: 1px solid #e6e2f5; border-radius: 2px; height: 6.4vh; width: 100%; padding-left: 1.3vw;"
												th:field="*{provincia}" id="provincia" class="mb-2">
												<option th:each="p : ${provinciaList}" th:value="${p}"
													th:text="${p}">
											</select> <span th:if="${#fields.hasErrors('provincia')}"
												class="text-warning mt-2" th:errors="*{provincia}"></span>
												<div id="bad-data-provincia" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Localidad<span>*</span></label> <input class="mb-2"
												name="localidad" type="text" th:field="*{localidad}">
											<span th:if="${#fields.hasErrors('localidad')}"
												class="text-warning mt-2" th:errors="*{localidad}"></span>
												<div id="bad-data-localidad" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Teléfono<span>*</span></label> <input name="telefono"
												type="text" th:field="*{telefono}" class="mb-2"> <span
												th:if="${#fields.hasErrors('telefono')}"
												class="text-warning mt-2" th:errors="*{telefono}"></span>
												<div id="bad-data-telefono" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Email<span>*</span></label> <input name="email"
												type="email" class="mb-2" th:field="*{email}"> <span
												th:if="${#fields.hasErrors('email')}"
												class="text-warning mt-2" th:errors="*{email}"></span>
												<div id="bad-data-email" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Contraseña<span>*</span></label> <input
												name="password" type="password" class="mb-2"
												autocomplete="current-passowrd" th:field="*{password}">
											<span th:if="${#fields.hasErrors('password')}"
												class="text-warning mt-2" th:errors="*{password}"></span> <span
												th:if="${error_pw != null}" class="text-warning mt-2"
												th:text="${error_pw}"></span>
											<div id="bad-data-password" class="bad-data"></div>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Repetir contraseña<span>*</span></label> <input
												name="repassword" type="password" class="mb-2"
												autocomplete="current-passowrd" value=""> <span
												th:if="${error_pw != null}" class="text-warning mt-2"
												th:text="${error_pw}"></span>
											<div id="bad-data-repassword" class="bad-data"></div>
										</div>
									</div>

									<div class="col-12">
										<div class="form-group button text-center">
											<button type="submit" class="btn mt-4">Crear cuenta</button>
										</div>
									</div>

								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="index/components/footer.html :: footer"></footer>

	<!-- Jquery -->
	<script src="index/assets/js/jquery.min.js"></script>
	<script src="index/assets/js/jquery-migrate-3.0.0.js"></script>
	<script src="index/assets/js/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="index/assets/js/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="index/assets/js/bootstrap.min.js"></script>
	<!-- Slicknav JS -->
	<script src="index/assets/js/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="index/assets/js/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="index/assets/js/magnific-popup.js"></script>
	<!-- Waypoints JS -->
	<script src="index/assets/js/waypoints.min.js"></script>
	<!-- Countdown JS -->
	<script src="index/assets/js/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="index/assets/js/nicesellect.js"></script>
	<!-- Flex Slider JS -->
	<script src="index/assets/js/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="index/assets/js/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="index/assets/js/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="index/assets/js/easing.js"></script>
	<!-- Active JS -->
	<script src="index/assets/js/active.js"></script>
	<!-- Common settings -->
	<script src="index/assets/js/common-settings.js"></script>
	<!-- Shop -->
	<script src="index/assets/js/shop.js"></script>
	<!-- Validación alta de usuario -->
	<script th:src="@{/index/assets/js/validacion_alta-usuario.js}"></script>

</body>
</html>