<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="index/components/head.html :: head"></head>
<body>

	<header th:replace="index/components/header.html :: header"></header>

	<section id="contact-us" class="contact-us section">
		<div class="container">
			<div class="contact-head">
				<div class="row justify-content-md-center">
					<div class="col-lg-8 col-12">
						<div class="form-main">

							<div class="alert alert-warning" role="alert"
								th:if="${resultado != null}">
								<span th:text="${resultado}"></span>
							</div>

							<div class="title">
								<h3 class="text-left">Perfil de usuario</h3>
							</div>

							<form class="form" method="POST"
								th:action="@{/perfil/{id}(id=${usuario.id})}"
								th:object="${usuario}">
								<div class="row">
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Nombre<span>*</span></label> <input name="nombre"
												type="text" placeholder="" th:field="*{nombre}">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Primer apellido<span>*</span></label> <input
												name="primer_apellido" type="text" placeholder=""
												th:field="*{apellido1}">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Segundo apellido<span>*</span></label> <input
												name="segundo_apellido" type="text" th:field="*{apellido2}">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Dirección<span>*</span></label> <input
												name="direccion" type="text" th:field="*{direccion}">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Provincia<span>*</span></label> <select
												style="display: block; border: 1px solid #e6e2f5; border-radius: 2px; height: 5.2vh; width: 100%; padding-left: 1.3vw;"
												th:field="*{provincia}" id="provincia">
												<option th:each="p : ${provinciaList}" th:value="${p}"
													th:text="${p}">
											</select>
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Localidad<span>*</span></label> <input
												name="localidad" type="text" th:field="*{localidad}">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Teléfono<span>*</span></label> <input name="telefono"
												type="text" th:field="*{telefono}">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<label>Email<span>*</span></label> <input name="email"
												type="email" th:field="*{email}">
										</div>
									</div>

									<div class="col-12">
										<div class="form-group button text-center">
											<button type="submit" class="btn mt-4">Guardar
												cambios</button>
										</div>
									</div>

								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <footer th:replace="index/components/footer.html :: footer"></footer> -->

	<!-- Jquery -->
	<script th:src="@{/index/assets/js/jquery.min.js}"></script>
	<script th:src="@{/index/assets/js/jquery-migrate-3.0.0.js}"></script>
	<script th:src="@{/index/assets/js/jquery-ui.min.js}"></script>
	<!-- Popper JS -->
	<script th:src="@{/index/assets/js/popper.min.js}"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{/index/assets/js/bootstrap.min.js}"></script>
	<!-- Slicknav JS -->
	<script th:src="@{/index/assets/js/slicknav.min.js}"></script>
	<!-- Owl Carousel JS -->
	<script th:src="@{/index/assets/js/owl-carousel.js}"></script>
	<!-- Magnific Popup JS -->
	<script th:src="@{/index/assets/js/magnific-popup.js}"></script>
	<!-- Waypoints JS -->
	<script th:src="@{/index/assets/js/waypoints.min.js}"></script>
	<!-- Countdown JS -->
	<script th:src="@{/index/assets/js/finalcountdown.min.js}"></script>
	<!-- Nice Select JS -->
	<!-- <script src="index/assets/js/nicesellect.js"></script> -->
	<!-- Flex Slider JS -->
	<script th:src="@{/index/assets/js/flex-slider.js}"></script>
	<!-- ScrollUp JS -->
	<script th:src="@{/index/assets/js/scrollup.js}"></script>
	<!-- Onepage Nav JS -->
	<script th:src="@{/index/assets/js/onepage-nav.min.js}"></script>
	<!-- Easing JS -->
	<script th:src="@{/index/assets/js/easing.js}"></script>
	<!-- Active JS -->
	<script th:src="@{/index/assets/js/active.js}"></script>
	<!-- Common settings -->
	<script th:src="@{/index/assets/js/common-settings.js}"></script>
	<!-- Shop JS -->
	<script th:src="@{/index/assets/js/shop.js}"></script>

</body>
</html>