<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="dashboard/components/head.html :: head"></head>

<body class="">
	<div class="wrapper">

		<div th:replace="dashboard/components/sidebar.html :: sidebar"></div>

		<div class="main-panel">
			<!-- Navbar -->

			<nav th:replace="dashboard/components/navbar.html :: navbar"></nav>

			<!-- End Navbar -->
			<div class="content content min-vh-100">

				<h3 class="mb-4">Procesar pedido</h3>
				
				<form class="form" th:method="patch"
					th:action="@{/pedidos/procesar/{id}(id=${pedido.id})}"
					th:object="${pedido}">

					<fieldset>

						<p>
							Número de factura: <span th:text="*{num_factura}"
								name="num_factura"></span>
						</p>

						<p>
							Método de pago: <span th:text="*{metodo_pago}"></span>
						</p>

						<p>
							Importe total: <span th:text="*{total}"></span>
						</p>

						<label>Estado<span>*</span></label> <select th:field="*{estado}"
							id="estado_pedido">
							<option th:each="e : ${estadoPedidoList}" th:value="${e.key}"
								th:text="${e.value}">
						</select>

					</fieldset>


					<div class="col-12">
						<div class="form-group button text-center">
							<button type="submit" class="btn mt-4">Guardar cambios</button>
						</div>
					</div>

				</form>

			</div>

			<footer th:replace="dashboard/components/footer.html :: footer"></footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/dashboard/assets/js/core/jquery.min.js}"></script>
	<script type="text/javascript" charset="utf8"
		th:src="@{/dashboard/assets/js/plugins/moment-with-locales.js}"></script>
	<script th:src="@{/dashboard/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/dashboard/assets/js/core/bootstrap.min.js}"></script>
	<script
		th:src="@{/dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
	<!-- Chart JS -->
	<!-- <script th:src="@{/dashboard/assets/js/plugins/chartjs.min.js}"></script> -->
	<!--  Notifications Plugin    -->
	<script th:src="@{/dashboard/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<!-- <script th:src="@{/dashboard/assets/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/dashboard/assets/demo/demo.js}"></script>

	<script type="text/javascript" charset="utf8"
		th:src="@{/dashboard/assets/js/plugins/datatables.js}"></script>
	<script type="text/javascript" charset="utf8"
		th:src="@{/dashboard/assets/js/pedidos.js}"></script>

	<script>
	
    $(document).ready(function() {
      // Worked: $(someElements[1]).removeClass('.someClassToRemove');
      
      const opcionIndex = 3;
      
      let nav = $('ul.nav li');
      
      Object.keys(nav).forEach((e) => {
      		
      		if (nav[e].value === 0) {

				if (e == opcionIndex) {
					nav[e].classList.add('active');
				} else {
     				nav[e].classList.remove('active');
    			}
			
			}
			
		});
      
    });
  </script>
</body>

</html>
