<!--
=========================================================
* Paper Dashboard 2 - v2.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/paper-dashboard-2
* Copyright 2020 Creative Tim (https://www.creative-tim.com)

Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="dashboard/components/head.html :: head"></head>

<body class="">
	<div class="wrapper">

		<div th:replace="dashboard/components/sidebar.html :: sidebar"></div>

		<div class="main-panel">
			<!-- Navbar -->

			<nav th:replace="dashboard/components/navbar.html :: navbar"></nav>

			<!-- End Navbar -->
			<div class="content content min-vh-100">

				<h3 class="mb-4">Agregar producto</h3>

				<form class="form" method="POST" th:action="@{/dashboard/productos/agregar}"
					th:object="${producto}">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Nombre<span>*</span></label> <input name="nombre"
									type="text" placeholder="" th:field="*{nombre}">
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<label>Descripción</label>
								<textarea rows="2" maxlength="255" name="descripcion"
									th:field="*{descripcion}"></textarea>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="form-group">

								<label>Categoría<span>*</span></label> <select
									th:field="*{categoria}" id="categoria">
									<option th:each="c : ${categorias}" th:value="${c.id}"
										th:text="${c.nombre}">
								</select>

							</div>
						</div>

						<div class="col-lg-6 col-12">
							<div class="form-group">
								<label>Precio<span>*</span></label> <input name="precio"
									type="number" step=".01" th:field="*{precio}">
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="form-group">
								<label>Stock<span>*</span></label> <input name="stock"
									type="number" th:field="*{stock}">
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="form-group">
								<label>Impuesto<span>*</span></label> <input name="impuesto"
									type="number" th:field="*{impuesto}">
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="form-group">
								<label>Baja de producto</label> <input type="checkbox"
									name="baja" th:field="*{baja}" th:value="*{baja}">
							</div>
						</div>

						<div class="col-12">
							<div class="form-group button text-center">
								<button type="submit" class="btn mt-4">Crear producto</button>
							</div>
						</div>

					</div>
				</form>

			</div>

			<footer th:replace="dashboard/components/footer.html :: footer"></footer>
		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/dashboard/assets/js/core/jquery.min.js}"></script>
	<script type="text/javascript" charset="utf8"
		th:src="@{/dashboard/assets/js/plugins/moment-with-locales.js}"></script>
	<script th:src="@{/dashboard/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/dashboard/assets/js/core/bootstrap.min.js}"></script>
	<script
		th:src="@{/dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
	<!--  Google Maps Plugin    -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
	<!-- Chart JS -->
	<!-- <script th:src="@{/dashboard/assets/js/plugins/chartjs.min.js}"></script> -->
	<!--  Notifications Plugin    -->
	<script th:src="@{/dashboard/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<!-- <script th:src="@{/dashboard/assets/js/paper-dashboard.min.js?v=2.0.1}" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/dashboard/assets/demo/demo.js}"></script>

	<script type="text/javascript" charset="utf8"
		th:src="@{/dashboard/assets/js/plugins/datatables.js}"></script>
	<script type="text/javascript" charset="utf8"
		th:src="@{/dashboard/assets/js/productos.js}"></script>

	<script>
	
    $(document).ready(function() {
      // Worked: $(someElements[1]).removeClass('.someClassToRemove');
      
      const opcionIndex = 2;
      
      let nav = $('ul.nav li');
      
      Object.keys(nav).forEach((e) => {
      		
      		if (nav[e].value === 0) {

				if (e == opcionIndex) {
					nav[e].classList.add('active');
				} else {
     				nav[e].classList.remove('active');
    			}
			
			}
			
		});
      
    });
  </script>
</body>

</html>
